/VcsWebdriver.sln.DotSettings.user
/VcsWebdriver/bin/Debug/chromedriver.exe
/VcsWebdriver/bin/Debug/geckodriver.exe
/VcsWebdriver/bin/Debug/nunit.engine.api.dll
/VcsWebdriver/bin/Debug/nunit.engine.dll
/VcsWebdriver/bin/Debug/nunit.framework.dll
/VcsWebdriver/bin/Debug/nunit.framework.pdb
/VcsWebdriver/bin/Debug/nunit.framework.xml
/VcsWebdriver/bin/Debug/nunit_random_seed.tmp
/VcsWebdriver/bin/Debug/NUnit3.TestAdapter.dll
/VcsWebdriver/bin/Debug/NUnit3.TestAdapter.pdb
/VcsWebdriver/bin/Debug/VcsWebdriver.dll
/VcsWebdriver/bin/Debug/VcsWebdriver.pdb
/VcsWebdriver/bin/Debug/WebDriver.dll
/VcsWebdriver/bin/Debug/WebDriver.Support.dll
/VcsWebdriver/bin/Debug/WebDriver.Support.xml
/VcsWebdriver/bin/Debug/WebDriver.xml
/VcsWebdriver/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/VcsWebdriver/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/VcsWebdriver/obj/Debug/VcsWebdriver.csproj.CopyComplete
/VcsWebdriver/obj/Debug/VcsWebdriver.csproj.CoreCompileInputs.cache
/VcsWebdriver/obj/Debug/VcsWebdriver.csproj.FileListAbsolute.txt
/VcsWebdriver/obj/Debug/VcsWebdriver.csprojAssemblyReference.cache
/VcsWebdriver/obj/Debug/VcsWebdriver.dll
/VcsWebdriver/obj/Debug/VcsWebdriver.pdb
