<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.12.0" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="3.16.1" targetFramework="net48" developmentDependency="true" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net48" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="83.0.4103.3900" targetFramework="net48" />
</packages>